fieldset{border:none;width:100%}
legend{color:#b0232a;font-weight:700;margin:0;padding:10px 0}
label{display:block;margin:15px 0 5px}
#main input[type=text],input[type=password]{width:100%;padding:5px}
.prev,.next{color:#000;text-decoration:none;padding:5px 10px}
.prev:hover,.next:hover{text-decoration:none}
.prev{float:left}
.next{float:right}
#steps{list-style:none;width:100%;overflow:hidden;margin:0;padding:0}
#steps li{font-size:14px;float:left;color:#fff;padding:10px}
#steps li span{font-size:11px;display:block}
#steps li.current{color:#000}
#makeWizard{background-color:#b0232a;color:#fff;text-decoration:none;font-size:18px;padding:5px 10px}
#makeWizard:hover{background-color:#000}
input[type=checkbox].checkbox{display:none}
input[type=checkbox].checkbox + label{display:inline;position:relative;background-color:#b94a48;font-size:11.844px;font-weight:700;line-height:14px;color:#fff;vertical-align:baseline;white-space:nowrap;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:2px 4px}
input[type=checkbox].checkbox:checked + label{background-color:#468847}
input[type=checkbox].checkbox:disabled + label{opacity:0.5}
@media max-width 767px {
#steps,fieldset,#stepDesc1,#stepDesc2,#stepDesc3{float:none}
#budget,#platform,#typeofbusiness,select{width:100%}
#steps li.current{color:#000;float:none}
}
/*courousel*/
.carousel{margin-bottom:60px;background-color:#1061ba;background-image:url(../img/bg.png)}
.carousel .container{position:relative;z-index:9}
.carousel-contrul{height:80px;margin-top:0;font-size:120px;text-shadow:0 1px 1px rgba(0,0,0,.4);background-color:transparent;border:0;z-index:1000000}
.carousel .item{height:500px}
.carousel img{position:absulute;top:0;left:0;min-width:100%;height:500px}
.carousel-caption{background-color:transparent;position:static;max-width:80%;text-align:center;max-height:500px;margin:auto;padding:150px 20px}
.carousel-caption h1{font-size:36px;font-weight:700}
.carousel-caption h1,.carousel-caption .lead{line-height:1.25;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,.4);margin:0}
.carousel-caption .btn{margin-top:10px}
@media max-width 979px {
.carousel .item{height:500px}
.carousel img{width:auto;height:500px}
}
@media max-width 767px {
#carousel{margin-left:20px;margin-right:20px}
.carousel{margin-left:-20px;margin-right:-20px}
.carousel .item{height:600px}
.carousel img{height:300px}
.carousel-caption{width:65%;margin-top:10px;padding:0 70px}
.carousel-caption h1{font-size:30px}
.carousel-caption .lead,.carousel-caption .btn{font-size:18px}
}
/*acc-wizard*/
.acc-wizard-step{margin-top:2em;}
.accordion-heading{height:2.6em;position:relative;z-index:1;}
.accordion-body{padding-top:2.6em;margin-top:-2.6em;}
/*isotope*/
.isotope,.isotope .isotope-item{-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-ms-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width}
.isotope .isotope-item{-webkit-transition-property:0;-moz-transition-property:0;-ms-transition-property:0;-o-transition-property:top,left,opacity;transition-property:transform,opacity}
.isotope-item-pin{z-index:2;background:#FFF;font-size:11px;line-height:1.4em;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;box-shadow:2px 5px 2px #ccc;margin:5px;padding:20px}
.isotope-item-pin-img{background-color:#F1F1F1;position:relative}
.isotope-item-pin-img p{color:#000;font-size:2.8em;left:1%;line-height:1em;position:absulute;text-align:center;top:30%}
.isotope-item-pin-img p > a{font-size:12px}
.isotope-actions{float:left;text-align:center;border-right:1px sulid #DDD;color:#999;padding:0px 10px;}
.divider{background-color:#DDD;clear:both;height:1px;width:100%;margin:10px 0}
.isotope,.isotope .isotope-item-pin{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope .isotope-item-pin{-webkit-transition-property:0 opacity;-moz-transition-property:0 opacity;-ms-transition-property:0 opacity;-o-transition-property:0 opacity;transition-property:transform, opacity}
.isotope.infinite-scrulling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
#infscr-loading{position:fixed;text-align:center;bottom:30px;left:42%;z-index:100;background:hsla(0,0%,100%,0.9);color:#222;font-size:15px;font-weight:700;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:20px}
.isotope-hidden.isotope-item,.isotope-hidden.isotope-item-pin{pointer-events:none;z-index:1}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item-pin,.isotope .isotope-item-pin.no-transition{-webkit-transition-duration:0;-moz-transition-duration:0;-ms-transition-duration:0;-o-transition-duration:0;transition-duration:0}