/* Preloader */
#tweet {
	color: #ccc;
}
body{
	font-size: 16px !important;
}
p {
    font-size: 16px !important;
    line-height: 1.72222;
    margin: 0 0 15px;
}
img {
	border-radius: 5px;
}
h1 span {
	color: white;
}
.hero-unit{
	background:url(../img/bg2.png);
}
.navbar .brand {
	margin-top: 5px;
	max-height: 40px;
	padding-bottom: 8px;
	width: auto;
	padding: 0;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff; /* change if the mask should have another color then white */
	z-index: 99; /* makes sure it stays on top */
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%; /* centers the loading animation horizontally one the screen */
	top: 50%; /* centers the loading animation vertically one the screen */
	background-image: url(../img/status.gif); /* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px; /* is width and height divided by two */
}
.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../img/edgar.png) no-repeat;
}
.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}
.hero-unit {
	text-align: center;
	/*background-image:url(../img/bg123.png);*/
	font-weight: normal;
}
.thumbnail .caption {
	color: #34495E;
	text-align: center;
}
.imglfrt li {
	float: left;
	width: 100px;
	height: 50px;
padding:;
}
.thumb2:hover {
	outline: 1px solid #999;
}
img {
	border: 0;
}
#gallery:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}
.content {
	background-color: #fff;
}
.anchorone {
	color: #FFF;
}
.centre {
	font-size: 12px;
	text-align: center;
}
table {
	border-collapse: collapse;
	width: 100%;
}
.th {
	width: 100%;
}
table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}
th {
	background: #333;
	color: white;
	font-weight: bold;
	font-size: 10px;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 10px;
}
.blog {
	font-size:12px;
	text-align:justify;
}
.blog img{
	margin:10px;
	float:left;
}
#feedback {
	font-size: 1.4em;
}
#selectable .ui-selecting {
	background: #FECA40;
}
#selectable .ui-selected {
	background: #ffb400;
	color: white;
}
#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#selectable li {
	margin: 3px;
	padding: 0.4em;
	height: 18px;
}
#selectable li {
	margin: 3px;
	padding: 0.4em;
	height: 18px;
}
.list-detail {
}
.text-head {
	background: #25bc85;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
.text-head-shop {
	border-radius: 5px;
	width: 90%;
}
input.span3, textarea.span3, .uneditable-input.span3 {
	width: 100%;
}
.nobtn {
	background: #25bc85;
	border: none;
	color: #fff;
	font-size: 18px;
	height: 40px;
	border-radius: 5px;
	width: 100%;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > strong {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination ul > li:first-child > strong {
	border-bottom-left-radius: 4px;
	border-left-width: 1px;
	border-top-left-radius: 4px;
}
.pagination ul li > strong {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 5px solid #D6DBDF;
	border-radius: 50px;
	color: #3498DB;
	display: inline-block;
	font-size: 18px;
	line-height: 16px;
	margin: 7px 2px 6px;
	min-height: 16px;
	min-width: 0;
	padding: 0 4px;
	transition: background 0.2s ease-out 0s, border-color 0s ease-out 0s, color 0.2s ease-out 0s;
}
.git li {
	float: left;
	list-style: none;
	padding: 5px;
	text-align: center;
}
.list-header {
	font-size: 18px;
	background: #25bc85;
	text-align: center;
	color: #fff;
}
.budget {
	background: #f45460;
	color: white;
}
.list-header2 {
	font-size: 18px;
	background: #35aadc;
	text-align: center;
	color: #fff;
}
.list-header3 {
	font-size: 18px;
	background: #cc324b;
	text-align: center;
	color: #fff;
}
.list-header3 {
	font-size: 18px;
	background: #1a4e95;
	text-align: center;
	color: #fff;
}
.list-detail ul {
	font-size: 18px;
}
.list-detail ul li {
	font-size: 14px;
	border: 1px solid #f4f4f4;
	margin: 3px;
	padding: 0.4em;
	height: 18px;
	list-style: none;
}
.blog-icon {
	float: left;
	width: 30%;
	margin: 10px;
}
.blog-icon  img{
	width: 250px;
	height: 250px;
}
 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
	display: block;
}
.nav {
	z-index: -9999;
}
/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
tr {
	border: 1px solid #ccc;
}
td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
}
td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
}
}
#footer {
	color: #CCCCCC;
	background: #333333;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #FFFFFF;
	padding: 10px 0;
	text-align: center;
}
.footer {
	background: #333333;
	color: #CCCCCC;
	padding: 10px 0;
	text-align: center;
}
.valid {
	font-size: 12px;
}
.error {
	color: red;
}
.red a {
	color: #c1473c;
	font-weight:500;
	font-size:14px;
	font-variant:small-caps;
}
#footer >container {
	position: absolute;
}
.pad {
	padding-top: 80px;
}
 @media (max-width: 767px) {
.pad {
	padding-top: 20px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
}
 [class^="icon-"], [class*=" icon-"] {
 background:none!important;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
	line-height: 1.3em;
}
.theBtn {
	width: auto;
	height: 150px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #0044cc;
}
#items-carousel {
	height: 310px;
}
.round {
	border-radius: 50px;
}
/* [class^="icon-"], [class*=" icon-"] {
 background:none!important;
}*/
.btn [class^="icon-"], .btn [class*=" icon-"] {
	line-height: 1.3em;
}
.item_slider ul li {
	list-style: none;
	margin: 10px 0;
	border-bottom: url(../img/gallery-shadow.png);
}
.item_text h3 {
	color: #2c3e50;
}
.item_text h4, h5 {
	color: #999;
}
.item_text p {
	color: #34495E;
	;
}
.item_text ul {
	list-style-image: url(../img/li_check_blue.png);
	padding-left: 40px;
	margin: 20px 0;
	line-height: 22px;
	color: #777;
}
.paginate li {
	list-style: none;
}
.paginate a, .paginate strong {
	backround: #f4f4f4;
	border: 1px solid #ccc;
	padding: 7px 10px;
	font-size: 14;
	border-radius: 5px;
}
.paginate a:hover {
	background: #ccc;
}
.one {
	color: #7ac7ff;
	font-size: 5em;
	text-align: center!important;
	;
	line-height: 80px;
}
.two {
	color: #e75735;
	font-size: 32em;
	text-align: center;
}
.three {
	color: #4eb7a8;
	font-size: 32em;
	text-align: center;
}
.accept li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 50%;
	height: 5em;
}
.accept .blue {
	background: #1fbba6;
}
.accept .white {
	background: #f4f4f4;
}
.centre {
	text-align: center;
}
@media (max-width: 767px) {
.one, .two, .three {
	visibility: hidden;
}
}
.gallery {
	background: url("../img/gallery-shadow.png");
	padding-bottom: 8px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	float: left;
	display: block;
	border: 1px solid #dadada;
	border-bottom: none;
	margin: auto;
}
.gallery .nivo-controlNav {
	padding: 1px 2px 8px 9px;
	right: 0;
	top: 0;
	z-index: 1112;
}
.gallery .nivo-controlNav {
	background: url("../img/pages.png");
	height: 7px;
	text-indent: -9999px;
	width: 7px;
	margin-left: 3px;
	background-position: -7px 0;
	background: #fff;
}
.gallery-inner {
	padding: 9px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover, .btn:focus {
	color: #333333;
	text-decoration: none;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #ffffff;
	border-color: #cccccc;
}
.btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #428bca;
	border-color: #357ebd;
}
.btn-warning {
	color: #ffffff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	color: #ffffff;
	background-color: #ed9c28;
	border-color: #d58512;
}
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-danger {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	color: #ffffff;
	background-color: #d2322d;
	border-color: #ac2925;
}
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background-image: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-image: none;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-info {
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: #39b3d7;
	border-color: #269abc;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-link {
	font-weight: normal;
	color: #428bca;
	cursor: pointer;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
	color: #999999;
	text-decoration: none;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}
.btn-sm, .btn-xs {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-xs {
	padding: 1px 5px;
}
.btn-block {
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.btn-block + .btn-block {
	margin-top: 5px;
}
/*.wizard-sidebar{
	border:1px solid #e5e5e5;
}*/
.wizard-sidebar li {
	padding: 10px;
	list-style: circle
}
.wizard-sidebar li:nth-child(1) {
	list-style: none;
}
.fb-like-box {
	margin-top: 10px;
}
.browser img {
	border-radius: 1px;
}
.browser .browser-top:before {
	background: url("../img/browser-top-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	top: 0;
	width: 110px;
}
.browser .browser-top:after {
	background: url("../img/browser-top-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
}
.browser .browser-top {
	background: url("../img/browser-top.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	padding: 0 24px 0 120px;
	position: relative;
}
